{% macro auth_form(submit_button_name) %}
    <form method="post">
        <div class="mb-3">
            <label for="userFormEmail" class="form-label">Email address</label>
            <input type="email"
                   class="form-control"
                   name="email"
                   id="userFormEmail"
                   min="1"
                   max="50"
                   required>
        </div>
        <div class="mb-3">
            <label for="userFormPassword">Password</label>
            <input type="password"
                   class="form-control"
                   name="password"
                   id="userFormPassword"
                   min="1"
                   max="50"
                   required>
        </div>
        <button type="submit" class="btn btn-primary mb-3">{{ submit_button_name }}</button>
    </form>
{%- endmacro %}
