{% extends "base.jinja" %}
{% from 'auth/form.jinja' import auth_form %}
{% block content %}
    <div class="card w-50 m-auto">
        <div class="card-body">
            <h1>Create an account</h1>
            {{ auth_form("Sign Up") }}
            <a href="{{ url_for("auth.login") }}">Sign in</a>
        </div>
    </div>
{% endblock content %}
